.header-container {
    width: 100%;
    height: 15vh;
    z-index: 9;
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    background-image: url('../assets/logoM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 0;
    top: -10px;
    filter: brightness(1.5);
}

.informations-container {
    width: 50vw;
    height: 30%;
    display: flex;
    justify-content: center;

}

.info-field {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon {
    width: 33%;
}

.info-text {
    height: 100px;
    font-size: 1em;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
}

.gray-text {
    position: relative;
    bottom: 10px;
    color: lightgrey !important;
}

.middle {
    border-left: 5px dashed lightgray;
    border-right: 5px dashed lightgray;
}

.social-icons-container {
    position: absolute;
    right: 130px;
    width: 16vw;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media only screen and (max-width: 1400px) {

    .informations-container {
        width: 100%;
        height: auto;
    }

    .social-icons-container {
        right: 0;
        top: 22vh;
    }

    .logo {
        left: 0;
        top: 15vh;
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .info-text {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-container {
        z-index: 11;
        height: 12vh;
    }

    .logo {
        top: 9vh;
        width: 140px;
        height: 140px;
        left: 10vw;
    }


    .social-icons-container {
        width: 40vw;
        top: 32vh;
        left: 30vw;
    }
}