.realestate-modal {
    position: fixed;
    margin: 10px;
    top: 10vh;
    margin: 0 auto;
    left: 3vw;
    width: 94vw;
    height: 85vh;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid gold;
    z-index: 20;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25em;
    font-weight: 600;
    color: #000000;
    overflow: auto;
}

.modal-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.heading1 {
    font-size: 40px;
    letter-spacing: 10px;
    margin: 0;

}

.heading2 {
    font-size: 28px;
    margin: 0;
}

.modal-content {
    flex: 1;
    height: 100%;
    width: 100%;
}

.estate-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
}

.house-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.building-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.estate-section {
    width: 320px;
    height: 320px;
    border: 2px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.price {
    font-size: 40px;
    color: whitesmoke;
}

.estate-section p {
    margin: 0;
    color: whitesmoke;
}

.estate-section:hover {
    transition: all 0.5s;
    position: sticky;
    scale: 1.1;
    cursor: pointer;
}

.object1 {
    background-image: url('../assets/kuca/IMG-20230305-WA0038.jpg');
    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.object2 {
    background-image: url('../assets/stan/IMG-20230305-WA0031.jpg');
    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.object3 {
    background-image: url('../assets/kuca-kut/slika2.jpg');
    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.object4 {
    background-image: url('../assets/stan-hvar/slika1.jpg');
    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.object5 {
    background-image: url('../assets/stan-hvar/slika4.jpg');
    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.obejct6 {
    background-image: url('../assets/starakuca.jpg');
    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.object1-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.object1-main {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.object1-bottom {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.object1-bottom p {
    font-size: 50px;
    margin: 15px;
}

.back-arrow {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.back-arrow:hover {
    transition: 0.3s;
    scale: 1.5;
}

.object1-contact {
    height: min-content;
    background-color: gold;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: initial;
    color: #454545;
    margin-bottom: 10px;
}

.object1-contact:active {
    scale: 0.9;
}

.object1-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.object2-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object1-right {
    width: 30%;
    height: 50%;
    display: flex;
    font-size: 22px;
    flex-direction: column;
    justify-content: center;
}

.text-slider {
    position: absolute;
    top: 62vh;
    margin-left: 90vw;
    white-space: nowrap;
    animation: slider 30s linear infinite;
    background-color: gold;
    overflow: hidden;
    padding: 5px;
}

.text-slider p {
    margin: 0;
}

.object1-main-img,
.object2-main-img {
    min-width: 400px;
    min-height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
    transition: all 0.3s;
}

.project-size:hover {
    position: fixed;
    cursor: zoom-in;
    scale: 1.5;
}

.object1-slider {
    display: flex;
    align-items: center;
}

.object2-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.obejct2-slider span {
    display: flex;
    flex-direction: column;
    border: 2px solid;
}

.side-image {
    border: 2px solid;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}

.side-image:hover {
    transition: all 0.3s;
    position: sticky;
    scale: 1.1;
}

@media only screen and (max-width: 1500px) {
    .object1-main {
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .text-slider {
        top: 45vh !important;
    }

    .object1-left,
    .object2-left {
        width: 100%;
        justify-content: center;
    }

    .object2-slider {
        width: 40%;
    }

    .object1-right {
        width: 80%;
    }

}

@media only screen and (max-width: 1075px) {
    .object1-right {
        width: 100%;
        height: 40%;
        text-align: center;
    }

    .object1-left,
    .object2-left {
        height: 60%;
    }

    .object1-slider {
        justify-content: center;
        height: 300px;
    }

    .side-image {
        height: 50px;
        width: 50px;
    }

    .object2-main-img {
        min-width: 20vw;
        width: 40vw;
        min-height: 20vh;
        height: 30vh;
        margin: 0;
    }

    .project-size:hover {
        position: relative;
        cursor: initial;
        scale: 1;
    }
}

@media only screen and (max-width: 650px) {
    .heading1 {
        font-size: 20px;
        text-align: center;
    }

    .heading2 {
        font-size: 15px;
    }

    .text-slider {
        top: 40vh !important;
    }

    .estate-section:hover {
        scale: none;
    }

    .back-arrow {
        top: 50px;
    }

    .object2-left {
        flex-direction: column-reverse;
        align-items: center;
    }

    .object2-main-img {
        margin: 0;
        width: 35vw;
        height: 20vh;
    }

    .object2-slider {
        justify-content: space-evenly;
    }

    .object1-right {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .object1-main-img {
        min-width: 30vw;
        width: 50vw;
        min-height: 20vh;
        height: 30vh;
        margin: 0;
    }

    .heading1 {
        padding: 30px;
    }

    .close-modal {
        top: 50px;
    }

    .object2-left {
        height: fit-content
    }

    .object1-right p {
        margin: 0;
    }

}

@media only screen and (max-width: 380px) {
    .object2-main-img {
        width: 50vw;
        height: 20vh;
    }


}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-120%);
    }
}