.side-bar-container {
    position: fixed;
    right: 0;
    top: 20vh;
    width: 18vw;
    height: 62vh;
    background-color: whitesmoke;
    z-index: 20;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #454545;
    animation: slideSideBar 1s 1;
}

.side-bar-container img {
    width: 300px;
    margin: 10px;
    animation: slideSideBarImg 2s 1;
}

.covering-sidebar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #454545;
    opacity: 0.5;
    cursor: pointer;
}

.covering-text {
    color: gold;
    position: absolute;
    top: 40%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

@keyframes slideSideBar {
    0% {
        width: 0
    }

    100% {
        width: 18vw;
    }
}

@keyframes slideSideBarImg {
    0% {
        width: 0
    }

    100% {
        width: 300px;
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}