.side-bar-container {
    position: fixed;
    right: 0;
    top: 20vh;
    width: 300px;
    height: 60vh;
    background-color: whitesmoke;
    z-index: 20;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #454545;
    animation: slideSideBar 1s 1;
}

.side-bar-container img {
    width: 300px;
    margin: 10px;
    animation: slideSideBarImg 2s 1;
}

.covering-sidebar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #454545;
    opacity: 0.5;
    cursor: pointer;
}

.covering-text {
    color: gold;
    position: absolute;
    top: 40%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.object1-sidebar {
    width: 250px;
    height: 250px;
    background-image: url('../assets/kuca/IMG-20230305-WA0038.jpg');
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    animation: slideSideBarImg 0.5s 1;
    font-size: 35px;
}

.object2-sidebar {
    width: 250px;
    height: 250px;
    background-image: url('../assets/stan/IMG-20230305-WA0031.jpg');
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    font-size: 35px;
    animation: slideSideBarImg 0.5s ease-in;
}

.commpany-name-1 {
    position: absolute;
    right: -15px;
    top: 90px;
    font-size: 17px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
}

.commpany-name-2 {
    position: absolute;
    left: -15px;
    top: 90px;
    font-size: 17px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
}


@keyframes slideSideBar {
    0% {
        width: 0
    }

    100% {
        width: 300px;
    }
}

@keyframes slideSideBarSm {
    0% {
        width: 0
    }

    100% {
        width: 100vw;
    }
}


@keyframes slideSideBarImg {
    0% {
        width: 0
    }

    100% {
        width: 80%;
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    z-index: 21;
}

@media only screen and (max-width: 450px) {
    .side-bar-container {
        width: 100vw;
        animation: slideSideBarSm 1s 1;
    }

    .object1-sidebar {
        display: flex;
        align-items: end;
        justify-content: center;
        font-size: 40px;
    }

    .object2-sidebar {
        display: flex;
        align-items: end;
        justify-content: center;
        font-size: 40px;
    }


    .commpany-name-1 {
        right: 10px;
        font-size: 12px;
    }

    .commpany-name-2 {
        left: 10px;
        font-size: 12px;
    }

}